<% provide(:title, t("views.static_pages.contact.contact")) %>
<h1><%= t "views.static_pages.contact.contact" %></h1>
<p>
  <%= t "views.static_pages.contact.contactthe" %>
  <%= link_to t("views.static_pages.contact.contactpage"), Settings.linkcontact %>
</p>
